table{
    background-color: aquamarine;
    border: black;
    padding: 150px;
border-color: blue;
border-width:  3px;
border-style: groove;
text-align: center;
border-style: double;
border-collapse: collapse;

}
nav{
    text-align: center;
    font-size: larger;
    font-style: italic;
    font-style:bold;
    color:blue;
    text-decoration: underline;
    
}
a{
    text-decoration: none;
}